html, body {
  height: 100%;
  margin: 0;
}


#app {
  height: 100%;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.el-table th.el-table__cell {
  color: #000;
}

.el-dialog__body {
  padding: 5px 25px !important;
}

.el-table .el-table__cell.gutter {
  background-color: rgb(55, 64, 82);
}