html, body {
  height: 100%;
  margin: 0;
}


#app {
  height: 100%;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.el-table th.el-table__cell {
  // background-color: #3918B0;
  color: #000;
}